.border{
   border: 2px solid red;
}
.flex{
  display: flex;
}
.center{
  justify-content: center;
  align-items: center;
}
.p-6{
  padding: 6px;
}
.m-6{
  margin: 6px;
}
.align-center{
  align-items: center;
}
.bottom-border{
  border-bottom: 2px solid red;
}
.m-3{
  margin: 3px;
}
.p-3{
  padding: 3px;
}
.m-top10{
  margin-top: 10px;
}
.h-30{
  height: 30px;
}
